.Dictionary h1 {
  font-size: 25px;
  font-weight: semibold;
  margin-top: 5px;
  margin-bottom: 15px;
  color: rgb(44, 44, 44);
}

.Dictionary section {
  background: #fffff4;
  padding: 30px;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 8px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
  margin: 30px 0;
}

.Dictionary input {
  font-size: 22px;
  color: #333;
  width: 100%;
  padding: 6px 15px;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 6px;
}

.Dictionary .hint {
  color: rgb(88, 88, 88);
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
